body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgba(101,0,94,1) 3%, rgba(60,132,206,1) 38%, rgba(48,238,226,1) 68%, rgba(255,25,25,1) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

 .buttons{
    margin-left: 85px;
}

.addButtons{
    margin-left: 280px;
}

.killButton{
    margin-left: 273px;
}

.addGrass{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    border: none;
    margin-right: 125px;
    margin-top: 150px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.addGrass:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}

.addGrass:active {
	position:relative;
	top:1px;
}

.addGrassEater{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    border: none;
    margin-right: 125px;
    margin-top: 150px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.addGrassEater:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.addGrassEater:active {
	position:relative;
	top:1px;
}

.addPredator{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    border: none;
    margin-right: 125px;
    margin-top: 150px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.addPredator:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.addPredator:active {
	position:relative;
	top:1px;
}

.addVenom{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    border: none;
    margin-right: 125px;
    margin-top: 150px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.addVenom:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.addVenom:active {
	position:relative;
	top:1px;
}

.addHunter{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    border: none;
    margin-right: 125px;
    margin-top: 150px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.addHunter:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.addHunter:active {
	position:relative;
	top:1px;
}

.killAll{
    background-color:#2e466e;
    height: 50px;
	border-radius:17px;
    margin-left: 520px;
    border: none;
    margin-top: 50px;
    border: none;
    margin-right: 125px;
    margin-top: 70px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	border:1px solid #1f2f47;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.killAll:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.killAll:active {
	position:relative;
	top:1px;
}
